@using AutoLotDAL_Core2.Models
@model Inventory
<tr>
    <td>
        @Html.DisplayFor(expression: model => model.Make)
    </td>
    <td>
        @Html.DisplayFor(expression: model => model.Color)
    </td>
    <td>
        @Html.DisplayFor(expression: model => model.PetName)
    </td>
    <td>
        <a asp-action="EditAsync" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="DetailsAsync" asp-route-id="@Model.Id">Details</a> |
        <a asp-action="DeleteAsync" asp-route-id="@Model.Id">Delete</a>
    </td>
</tr>
